<h2 id='title'>Welcome to Ember.js</h2>
<p>format-number: {{format-number someNumber precision=2  decimal=decimalsSeparator thousand="*"}}</p>
<p>format-money: {{format-money someNumber precision=2  decimal=decimalsSeparator thousand="*"}}</p>
